<header>
        <div class="logo-wrapper" onclick="window.location.href='#accueil'"> 
            <img src="D:\Lucie\ascm\2x\Primary_b@2x-8.png" class="logo-desktop" alt="Logo desktop"> 
            <img src="D:\Lucie\ascm\2x\logomark_b@2x-8.png" class="logo-mobile" alt="Logo mobile">
        </div>
        <div class="nav-wrapper">
            <nav>
                <a href="#activites">Activités</a>
                <a href="#evenements">Événements</a>
                <a href="#association">L'association</a>
            </nav>
            <div>
                <button class="Secondary"onclick="accueil">Nous contacter</button>
                <button class="Primary" onclick="accueil">Nous Rejoindre</button>
            </div>
        </div>      
    </header>